
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Caviar - Premium Restaurant Template | Menu</title>
    <link href="~/Content/Template/style.css" rel="stylesheet">
    <link href="~/Content/Template/css/responsive/responsive.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <style>
        .titulo-logo {
            font-family: 'Tangerine', cursive;
            font-size: 40px;
        }
    </style>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="caviar-load"></div>
        <div class="preload-icons">
            <img class="preload-1" src="~/Content/Template/img/core-img/preload-1.png" alt="">
            <img class="preload-2" src="~/Content/Template/img/core-img/preload-2.png" alt="">
            <img class="preload-3" src="~/Content/Template/img/core-img/preload-3.png" alt="">
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg align-items-center">
                        <a class="navbar-brand titulo-logo" href="/Home/Home">Dulce Recuerdo</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav" aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <div class="collapse navbar-collapse" id="caviarNav">
                            <ul class="navbar-nav ml-auto" id="caviarMenu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#menu">Menú</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#menu">Productos</a>
                                </li>
                                @{
                                    if (ViewBag.nombreUsuario != null)
                                    {
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.nombreUsuario</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                @{
                                                    if (ViewBag.idPerfilUsuario == "1")//Administrador
                                                    {
                                                        <a class="dropdown-item" href="/Producto/MantenedorProducto">Productos</a>
                                                        <a class="dropdown-item" href="/Usuario/MantenedorUsuario">Usuario</a>
                                                        <a class="dropdown-item" href="#">Ventas</a>
                                                    }
                                                    if (ViewBag.idPerfilUsuario == "2") //Cliente
                                                    {
                                                        <a class="dropdown-item" href="/Usuario/MiPedido">Lista de Compras</a>
                                                        <a class="dropdown-item" href="/Usuario/MiPerfil">Mi perfil</a>
                                                    }
                                                }
                                                <a class="dropdown-item" href="#" onclick="Logout()">Cerrar Sesión</a>
                                            </div>
                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="/Home/index">Ingresar</a>
                                                        </li>
                                                    }
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Content/Template/img/producto-fondo.jpg)">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h2>Nuestros <br />productos</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->
    <!-- ***** Menu Area Start ***** -->
    <div class="caviar-food-menu section-padding-150 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="food-menu-title">
                        <h2>Menu</h2>
                    </div>
                </div>

                <div class="col-10">
                    <div class="caviar-projects-menu">
                        <div class="text-center portfolio-menu">
                            <button class="active" data-filter="*">Todo</button>
                            <button data-filter=".breakfast">Desayuno</button>
                            <button data-filter=".lunch">Tortas</button>
                            <button data-filter=".dinner">Pasteles</button>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="ModalBuyProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:9%;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Comprar Producto</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" id="txtIdProducto" style="display:none" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="~/Content/Template/img/donas.png" />
                                        </div>
                                        <div class="col-md-6">
                                            <h4 id="txtNombreProcuto"></h4>
                                            <p id="txtDescProducto"></p>
                                            <label>Precio: <span id="txtPrecioProducto"></span></label><br />
                                            <label>Cantidad: <input id="txtCantidad" type="number" class="form-control" value="1"/></label>
                                            <label>Total: <span id="txtTotal"></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-success" onclick="ComprarProducto()">Comprar <i class="fa fa-shopping-cart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="caviar-menu-slides owl-carousel clearfix" id="list-producto">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ***** Menu Area End ***** -->
    <!-- ***** Footer Area Start ***** -->
    <footer class="caviar-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text">
                        <a href="#" class="navbar-brand titulo-logo">Dulce Recuerdo</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->
    <script src="~/Content/Template/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/Content/Template/js/bootstrap/popper.min.js"></script>
    <script src="~/Content/Template/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/Template/js/others/plugins.js"></script>
    <script src="~/Content/Template/js/active.js"></script>
    <script src="~/Content/Home/Sweetalert.js"></script>
    <script src="~/Scripts/Producto/HomeProducto.js"></script>
</body>
</html>