
@{
    ViewBag.Title = "Resumen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resumen</h2>

<div class="row">
    <div class="col-md-6" style="width: 400px;">
        <label>Cantidad de producto vendidos</label>
        <div class="chart-responsive">
            <canvas id="chartBarProductos"></canvas>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Producto</th>
                    <th>Cantidad vendidos</th>
                </tr>
            </thead>
            <tbody id="lstProductosVendidos"></tbody>
        </table>
    </div>
</div>

@section JavaScript{
    <script>

        $(document).ready(function () {
            ChartBarProductos();
        });

        function aleatorio(inferior, superior) {
            numPosibilidades = superior - inferior
            aleat = Math.random() * numPosibilidades
            aleat = Math.floor(aleat)
            return parseInt(inferior) + aleat
        }


        function dame_color_aleatorio() {
            hexadecimal = new Array("0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "A", "B", "C", "D", "E", "F")
            posarray = aleatorio(0, hexadecimal.length)
            valor_hexadecimal_aleatorio = hexadecimal[posarray]
            color_aleatorio = "#";
            for (i = 0; i < 6; i++) {
                posarray = aleatorio(0, hexadecimal.length)
                color_aleatorio += hexadecimal[posarray]
            }
            return color_aleatorio
        }

        function ChartBarProductos() {
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/Producto/ObtenerCantidadProductoVendidos",
                success: function (resultado) {
                    var nombre = '';
                    $.each(resultado, function (i, item) {
                        if (i == 0) {
                            nombre = nombre + '{ "value":"' + item.cantidad + '", "color":"' + dame_color_aleatorio() + '", "label":"' + item.nombre + '"}'
                        } else {
                            nombre = nombre + ',{ "value":"' + item.cantidad + '", "color":"' + dame_color_aleatorio() + '", "label":"' + item.nombre + '"}'
                        }
                        $("#lstProductosVendidos").append("<tr><td>" + item.nombre + "</td><td><center>" + item.cantidad + "</center></td></tr>");
                    });
                    var pieChartCanvas = $('#chartBarProductos').get(0).getContext('2d');
                    var pieChart = new Chart(pieChartCanvas);
                    var pieOptions = {
                        segmentShowStroke: true,
                        segmentStrokeColor: '#fff',
                        segmentStrokeWidth: 1,
                        percentageInnerCutout: 50,
                        animationSteps: 100,
                        animationEasing: 'easeOutBounce',
                        animateRotate: true,
                        responsive: true,
                        legendTemplate: '<ul class=\'<%=name.toLowerCase()%>-legend\'><% for (var i=0; i<segments.length; i++){%><li><span style=\'background-color:<%=segments[i].fillColor%>\'></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>',
                        tooltipTemplate: '<%=label%>: <%=value %> '
                    };
                    pieChart.Doughnut($.parseJSON("[" + nombre + "]"), pieOptions);
                }
            });
        }
    </script>
}