
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mis Pedidos</title>
    <link href="~/Content/Template/style.css" rel="stylesheet">
    <link href="~/Content/Template/css/responsive/responsive.css" rel="stylesheet">
    <link href="~/Content/DataTable/DataTable.css" rel="stylesheet" />
    <link href="~/Content/DataTable/DataTableResponsive.css" rel="stylesheet" />
    <link href="~/Content/DataTable/DataTableBootstrap.css" rel="stylesheet" />
    @* cdn bootstrap datatable *@
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <style>
        .titulo-logo {
            font-family: 'Tangerine', cursive;
        }
    </style>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="caviar-load"></div>
        <div class="preload-icons">
            <img class="preload-1" src="~/Content/Template/img/core-img/preload-1.png" alt="">
            <img class="preload-2" src="~/Content/Template/img/core-img/preload-2.png" alt="">
            <img class="preload-3" src="~/Content/Template/img/core-img/preload-3.png" alt="">
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg align-items-center">
                        <a class="navbar-brand titulo-logo" href="index.html" style="font-size:40px;">Dulce Recuerdo</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav" aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <div class="collapse navbar-collapse" id="caviarNav">
                            <ul class="navbar-nav ml-auto" id="caviarMenu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Home">Volver</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" onclick="Logout()">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="breadcumb-area bg-img bg-overlay" style="background-color: #000000; height: 100px;">

    </div>

    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <table class="table table-striped" style="width:100%" id="TbListarMiPedido">
                    <thead>
                        <tr>
                            <th>N° Boleta</th>
                            <th>Nombre producto</th>
                            <th>Categoria</th>
                            <th>Fecha compra</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Total compra</th>
                            <th>Estado producto</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <footer class="caviar-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-text">
                        <a href="#" class="navbar-brand titulo-logo" style="font-size:40px;">Dulce Recuerdo</a>
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/Template/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/Content/Template/js/bootstrap/popper.min.js"></script>
    <script src="~/Content/Template/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/Template/js/others/plugins.js"></script>
    <script src="~/Content/Template/js/active.js"></script>
    <script src="~/Content/DataTable/DataTable.js"></script>
    <script src="~/Content/DataTable/DataTableResponsive.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/Home/Sweetalert.js"></script>
    <script src="~/Scripts/Usuario/MiPedido.js"></script>
    
</body>
</html>
